<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="magnet">
  <link
    name="north_link">
    <inertial>
      <origin
        xyz="6.853290365817E-19 -0.0125 7.65378971138986E-19"
        rpy="0 0 0" />
      <mass
        value="0.0380132711084365" />
      <inertia
        ixx="6.57946367435188E-06"
        ixy="1.81405085529609E-38"
        ixz="-1.11074910177625E-54"
        iyy="9.19921160824163E-06"
        iyz="-1.60407998262722E-22"
        izz="6.57946367435188E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/north_link.STL" />
      </geometry>
      <material
        name="north_link">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/north_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="south_link">
    <inertial>
      <origin
        xyz="4.77037523808433E-18 -6.72936446262433E-18 -0.0125"
        rpy="0 0 0" />
      <mass
        value="0.0380132711084365" />
      <inertia
        ixx="6.57946367435188E-06"
        ixy="1.05879118406788E-22"
        ixz="4.05251481934596E-23"
        iyy="6.57946367435188E-06"
        iyz="4.97824086208902E-23"
        izz="9.19921160824163E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/south_link.STL" />
      </geometry>
      <material
        name="south_link">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/south_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fixed_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0.0 0" />
    <parent
      link="north_link" />
    <child
      link="south_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>